In [1]:
import input_net
from os import path
import pandas as pd

Using TensorFlow backend.

In [21]:
TRAIN = "data/train.csv"
INPUT_NET = 'data/input.csv'

if not path.exists(INPUT_NET):
    data = input_net.create_input(TRAIN, INPUT_NET)
else:
    data = pd.read_csv(INPUT_NET)

404290 404290 404290

In [18]:
input_ids = data.iloc[:,:70]
token_type_ids = data.iloc[:,70:140]
attention_masks = data.iloc[:,140:]

In [20]:
#token_type_ids[[token_type_ids == 0]] = 2
token_type_ids.head()

,0.1,1.1,2.1,3.1,4.1,5.1,6.1,7.1,8.1,9.1,...,60.1,61.1,62.1,63.1,64.1,65.1,66.1,67.1,68.1,69.1
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0